<div id="<%= dom_id mentee %>">
  <p>
    <strong>Nome:</strong>
    <%= mentee.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= mentee.email %>
  </p>

  <p>
    <strong>Cargo atual:</strong>
    <%= mentee.cargo_atual %>
  </p>

  <p>
    <strong>Empresa atual:</strong>
    <%= mentee.empresa_atual %>
  </p>

  <p>
    <strong>Mini bio:</strong>
    <%= mentee.mini_bio %>
  </p>

</div>
