<div id="<%= dom_id mentor %>">
  <p>
    <strong>Name:</strong>
    <%= mentor.name %>
  </p>

  <p>
    <strong>Current title:</strong>
    <%= mentor.current_title %>
  </p>

  <p>
    <strong>Current company:</strong>
    <%= mentor.current_company %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= mentor.email %>
  </p>

  <p>
    <strong>Linkedin url:</strong>
    <%= mentor.linkedin_url %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= mentor.bio %>
  </p>

  <p>
    <strong>Mentorship topics:</strong>
    <%= mentor.mentorship_topics %>
  </p>

</div>
