
 <% if @mentors.any? %>
  <% @mentors.each do |mentor| %>
    <p>Name: <%= mentor.name %></p>
    <p>Email: <%= mentor.email %></p>
    <p>Bio: <%= mentor.bio %></p>
    <%= link_to "edit", edit_mentor_path(mentor.id)  %>
    <%= link_to "delete", mentor_path(mentor.id), data: { "turbo-method": :delete } %>

    <br/>
    <hr>
  <% end %>
<% else %>
  <p> Ainda não existem mentores!</p>
<% end %>